<div class="container">

<div class="item">
  EXERCISE #01<br>
  Create two new Components: <br>
<ul>
  <li>WarningAlert</li> 
  <li>SuccessAlert</li>
</ul>
Output them beneath each other in the AppComponent
Output a warning or success message in the Components
Style the Components appropriately (maybe some rede / green text?)</div>

<div class="item item2">
  Use external ou internal templates and styles!
Fell free to create more components, nest them into each other or play around with different types of selectors!
</div></div>

<div class="buttons">
    <button class="warning">Warning!!!</button>
    <button class="success">Success =)</button>
</div>