.container{
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;

}

.item {
    flex-grow: 1;
    line-height: 1;
    align-items: center;
    padding: 5px;
    background: rgb(119, 118, 118);
    border: 1px solid rgb(218, 63, 159);
    color: white;
    font: status-bar;
    font-size: medium;
    margin: 1%;
  }

  .item2{
    flex-grow: 1;
    text-align: center;
    font: status-bar;
    font-size: medium;
 }

 .buttons{
    display: flex;
  justify-content: center;
}
  